body {
    background: rgb(124,169,130);
    background: linear-gradient(90deg, rgba(124,169,130,1) 41%, rgba(224,238,198,1) 100%);
    animation: fadeIn 2.5s;
    -webkit-animation: fadeIn 2.5s;
    -moz-animation: fadeIn 2.5s;
    -o-animation: fadeIn 2.5s;
    -ms-animation: fadeIn 2.5s;
    
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

#main {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    position: relative;
    top: 140px;
    justify-content: center;
}

.color-containers {
    transition: all 0.4s ease 0s;
    width: 30%;
    margin-left: 3.3%;
    margin-right: 3.3%;
    height: 400px;
    float: left;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.color-containers:hover {
    transition: all 0.4s ease 0s;
    padding: 12px;
}

.color-containers > p {
    position: relative;
    text-align: center;
    top: 40%;
    font-size: 18px;
    color: white;
    text-shadow: 2px 1.2px 0px rgba(0,0,0,0.4); 
    font-family: 'Roboto Mono', monospace;
}

#generate {
    margin: 0;
    position: absolute;
    bottom: -95px;
    width: 300px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 2px solid black;
    transition: all 0.4s ease 0s;
    padding: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
}

#generate:hover {
    cursor: pointer;
    transition: all 0.4s ease 0s;
    padding: 12px;
    width: 310px;
    color: #F1F7ED;
    border-color: #F1F7ED;
}

#github-logo {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 35px;
    height: auto;
  }


#footer {
    position:absolute;
    bottom:-25px;
    width:100%;
    height:60px;   /* Height of the footer */
    font-family: 'Roboto Mono', monospace;
    font-size: 8px;
    text-align: center;
}

#footer > p > a > img {
    position: relative;
    top: 3px;
    width: 14px;
    height: auto;
    font-size: 12px;
}

#page-title {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    top: 120px;
    margin: 50px;
    padding: 30px;
    position: relative;
    text-align: center;
    color: #243E36;
    text-shadow: 0 2px 1px #79a06d, 
      -1px 3px 1px #82ad75, 
      -2px 5px 1px #8ebf80;
}

#page-title-smaller {
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    top: 14px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    color: #243E36;
    text-shadow: 0 2px 1px #79a06d, 
      -1px 3px 1px #82ad75, 
      -2px 5px 1px #8ebf80;
      transition: all 0.2s ease 0.0s;
}


#page-title-larger {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    top: 50px;
    margin: 0px;
    padding: 0px;
    position: relative;
    text-align: center;
    color: #243E36;
    text-shadow: 0 2px 1px #79a06d, 
      -1px 3px 1px #82ad75, 
      -2px 5px 1px #8ebf80;
      transition: all 0.2s ease 0.0s;
}

@media only screen and (max-width: 600px) {
    #main {
        flex-wrap: wrap;
        top: 70px;
    }
    .color-containers {
        width: 70%;
        height: 140px;
        margin: 10px;
    }
    .color-containers > p {
        top: 30%;
        font-size: 20px;
    }
  }

  @media only screen and (min-width: 1000px) {
      #page-title {
          font-size: 85px;
      }
  }